<% layout("/layouts/boilerPlate") %>

<div class="listing-details">

  <div class="card2 mb-3">

    <div class="row g-0">

      <!-- Image Section -->
      <div class="col-md-5">
        <img
          src="<%= listings.image.url %>"
          class="img-fluid listing-img"
          alt="Listing Image"
        >
      </div>

      <!-- Form Section -->
      <div class="col-md-7">

        <div class="card2-body">

          <h3 class="card2-title mb-3 text-center">
            Edit Listing
          </h3>

          <form action="/listings/edit?_method=patch" method="POST">

            <input type="hidden" name="id" value="<%= listings._id %>">

            <!-- Title -->
            <label><b>Title</b></label>
            <input
              type="text"
              name="title"
              class="form-control mb-2"
              value="<%= listings.title %>"
              required
            >

            <!-- Description -->
            <label><b>Description</b></label>
            <textarea
              name="description"
              rows="3"
              class="form-control mb-2"
              required
            ><%= listings.description %></textarea>

            <!-- Price -->
            <label><b>Price</b></label>
            <input
              type="number"
              name="price"
              class="form-control mb-2"
              value="<%= listings.price %>"
              required
            >

            <!-- Country -->
            <label><b>Country</b></label>
            <input
              type="text"
              name="country"
              class="form-control mb-2"
              value="<%= listings.country %>"
              required
            >

            <!-- Location -->
            <label><b>Location</b></label>
            <input
              type="text"
              name="location"
              class="form-control mb-2"
              value="<%= listings.location %>"
              required
            >

            <!-- Discount -->
            <label><b>Discount (%)</b></label>
            <input
              type="number"
              name="discount"
              class="form-control mb-2"
              value="<%= listings.discount %>"
            >

            <!-- Image URL -->
            <label><b>Image URL</b></label>
            <input
              type="text"
              name="imageUrl"
              class="form-control mb-3"
              value="<%= listings.image.url %>"
            >

            <!-- Submit -->
            <button class="btn btn-success w-100">
              Update Listing
            </button>

          </form>

        </div>

      </div>

    </div>

  </div>

</div>
