<% layout("/layouts/boilerPlate") %>
<body>

    <h1>Edit Listing</h1>

    <form action="/listings/edit?_method=patch" method="POST" >
        <input type="hidden" name="id"  value="<%= listings._id %>" />
    

        <!-- Show Image -->
        <img class="image" src="<%= listings.image.url %>" alt="Listing Image">

        <!-- Title -->
        <label>Title</label>
        <input 
            type="text" 
            name="title" 
            value="<%= listings.title %>" 
            required
        >

        <!-- Description -->
        <label>Description</label>
        <textarea 
            name="description" 
            rows="4"
            required
        ><%= listings.description %></textarea>

        <!-- Price -->
        <label>Price</label>
        <input 
            type="number" 
            name="price" 
            value="<%= listings.price %>" 
            required
        >

        <!-- Country -->
        <label>Country</label>
        <input 
            type="text" 
            name="country" 
            value="<%= listings.country %>" 
            required
        >

        <!-- Location -->
        <label>Location</label>
        <input 
            type="text" 
            name="location" 
            value="<%= listings.location %>" 
            required
        >

        <!-- Image URL (Optional) -->
        <label>Image URL</label>
        <input 
            type="text" 
            name="imageUrl" 
            value="<%= listings.image.url %>"
        >

        <!-- Submit -->
        <button>Update Listing</button>

    </form>

</body>

