<% layout("/layouts/boilerPlate") %>
<style>
  .my-btn{
   margin-left: 20px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-items: center;
    width: 200px;
}
.toggle-btn{
  display: none;
}
</style>

<body>
 <% if (success && success.length > 0) { %>
  <div class="alert alert-success">
    <%= success %>
  </div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
<% } %>
  <h1 class="heading">The Travel Spot</h1>

  <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Prices after taxes</label>
</div>
<div class="sort-navbar">
  <!-- More Popular -->
  <a href="/listings/sort?sort=more_popular" class="sort-btn">
    <i class="fa-solid fa-fire"></i> Trending
  </a>

  <!-- Price Low to High -->
  <a href="/listings/sort?sort=price_asc" class="sort-btn">
    <i class="fa-regular fa-money-bill-1"></i> Low → High
  </a>

  <!-- Price High to Low -->
  <a href="/listings/sort?sort=price_desc" class="sort-btn">
    <i class="fa-regular fa-money-bill-1"></i> High → Low
  </a>
   <a href="/listings/sort?sort=more_discount" class="sort-btn">
    <i class="fa-solid fa-percent"></i> High Discount
  </a>

</div>

 <form method="get" action="/listings/create">
  <button style="width:150px; margin-left: 50px;height:40px;background:#2563eb;color:white;border:none;border-radius:5px;cursor:pointer;">
    Add a new Listing
  </button>
</form>

 
  <div class="cards-container">

    <% for (let list of listings) { %>

      <div class="card" style="width: 18rem;">
        <!-- Discount Cloud -->
<% if(list.discount > 0){ %>
  <div class="discount-badge">
    <%= list.discount %>% OFF
  </div>
<% } %>

        <a href="/listings/<%= list._id %>">
          
          <img
            class="img-btn"
            src="<%= list.image.url %>"
            alt="listingImage"
          />
        </a>

        <div class="card-body">
          <h5><%= list.title %></h5>

          <p>
            <!-- Price: ₹ <%= list.price.toLocaleString("en-IN") %> -->
             <% if(list.discount>0){ %>
                 <%  
                discountPrice=Math.round(list.price*(list.discount)/100);
                finalAmount=list.price-discountPrice;
                %>
                 <span class="original-price">Original Price: <%=list.price.toLocaleString("en-IN") %></span><br>
               <span class="newAmount">Final Price: <%=finalAmount.toLocaleString("en-IN")  %></span>
               <form></form>
              
              <% } else{ %>
 <span>Price <%=list.price.toLocaleString("en-IN") %></span>
                <% } %>
              
          </p> <h7 class="toggle-btn">+ 18% tax</h7><br>
          
          <a href="/listings/book/<%=list._id  %>" >
            <button class="book-btn">Book</button>

          </a>
        </div>

      </div>

    <% } %>

  </div>


</body>
<script>
  let taxSwitch=document.getElementById("switchCheckDefault")
  taxSwitch.addEventListener("click",()=>{
console.log("clicked")
let toggleSwitch=document.getElementsByClassName("toggle-btn")
  for(btn of toggleSwitch){
    if(btn.style.display!="inline"){
      btn.style.display="inline";
    }
    else{
      btn.style.display="none";
    }
  }
  
  })
  
  </script>
