<% layout("/layouts/boilerPlate") %>
<body>
    <h1>About:  </h1>
    <div > <img class="image" src="<%=listings.image.url  %>" </div>
    <!-- <div class="url"><%=listings.image.url  %></div> -->
            <div>
                 <h3> title:  <%=listings.title  %></h3>
            <h3>description:  <%=listings.description  %></h3>
              <h3>price: &#8377 <%=listings.price.toLocaleString("en-IN")  %></h3>
                <h3>country:  <%=listings.country  %></h3>
            <h3>location:  <%=listings.location  %></h3>
                </div>
        
</body>
</html>