<% layout("/layouts/boilerPlate") %>

<div class="listing-details">

  <div class="card2 mb-3">

    <div class="row g-0">

      <!-- Image Section -->
      <div class="col-md-5">
        <img
          src="<%= listings.image.url %>"
          class="img-fluid listing-img"
          alt="Listing Image"
        >
      </div>

      <!-- Details Section -->
      <div class="col-md-7">

        <div class="card2-body">

          <h3 class="card2-title mb-3">
            Listing Details
          </h3>

          <!-- Title -->
          <label><b>Title</b></label>
          <p class="form-control mb-2">
            <%= listings.title %>
          </p>

          <!-- Description -->
          <label><b>Description</b></label>
          <p class="form-control mb-2" style="min-height: 80px;">
            <%= listings.description %>
          </p>

          <!-- Price -->
          <label><b>Price</b></label>
          <p class="form-control mb-2">
            ₹ <%= listings.price %>
          </p>

          <!-- Country -->
          <label><b>Country</b></label>
          <p class="form-control mb-2">
            <%= listings.country %>
          </p>

          <!-- Location -->
          <label><b>Location</b></label>
          <p class="form-control mb-2">
            <%= listings.location %>
          </p>

          <!-- Discount -->
           <% if(listings.discount> 0){ %>
          <label><b>Discount (%)</b></label>
          
            <p class="form-control mb-2">
            <%= listings.discount || 0 %> %
          </p>
          <% } %>

          

          <!-- Action Buttons (Optional) -->
          <div class="d-flex gap-2">

           

            <a href="/listings"
               class="btn btn-secondary w-50">
              Back
            </a>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>